.hide {
    display:none;
  }
header {
  display: flex;
  width: 100%; 
  padding-top: 20px; 
  font-size: larger;
  font-weight: bold;
  justify-content: space-between;
  
}
#timer {
  padding-right: 30px;
}
#view-highscores {
  padding-left: 30px;
}
#landing-page {
  width: 100%;

}
h1 {
width: 100%;
padding-top: 30px;
font-size: 50px;
text-align: center;

}

#quizdescription {
  text-align: center;
  font-size: 30px;
}
#buttonstart {
  text-align: center;
}
  #btnstart-quiz {
    
    font-size: xx-large;
    padding: 10px 10px;
    background: rgb(30, 1, 86);
    color: white;
    text-decoration: solid;
    border-radius: 10px;    
  }
  #btnstart-quiz:hover{background-color: rgb(89, 142, 160);}
  #btnstart-quiz:active {
    background-color: lightblue;
    box-shadow: 0 2px #666;
    transform: translateY(4px);  
  }